
@{
    ViewBag.Title = "TenderManger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="FinMangerModel" ng-controller="FinManger">
    <div class="row">

    </div>
</div>
<script type="text/javascript">
    var app = angular.module("FinMangerModel", [], ["$provide", function ($provide) {
        $provide.factory("FinData", function () {
            return @Html.Raw(ViewBag.FinData)
        });
    }]);

    app.controller("FinManger", ["$scope", "$http","FinData"], function ($scope,$http,FinData) {
        $scope.FinData = FinData;
        $scope.GetIndex = function () {
            var index = -1;
            angular.forEach(function (item,key) {
                if (item.id === key)
                {
                    return index = key;
                }
            })
        }
    });
</script>
